@media (max-width: 1199px) {
    .hero_banner {
        padding: 60px 0;
        height: 500px;

    }

    .banner_content p {
        color: #fff;
        font-size: 16px;

    }

    .footer-top h3 {
        font-size: 20px;
    }

    .sub_banner {
        height: 21.875rem;
    }

    .signup_form_sec {
        padding: 40px 0;
    }

    .hero_banner .hero_content h1 {
        font-size: 2.125rem;
    }

    .explore-our-collections-content h2,
    .featured-items-content h2,
    .built-for-collectors-content h2 {

        font-size: 30px;
    }

    .auth-content-box h2 {
        font-size: 30px;
    }

    .cta-content h2 {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .shipping-cards-grid {
        grid-template-columns: repeat(2, 1fr);

    }

    .site-footer .footer-bottom p {
        text-align: center;
    }

    .footer-bottom {
        justify-content: center;
        gap: 20px;
    }

    .jersey_page_card {
        width: 48%;
    }

    .content-wrapper {
        grid-template-columns: 1fr;
    }

    .legends-grid {
        grid-template-columns: repeat(2, 1fr);

    }

    .footer-top {

        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links {
        border-left: none;
    }

    .footer-contact {

        border-left: none;
    }

    .footer-features {
        grid-template-columns: repeat(2, 1fr);
    }

    .collection-card {
        display: flex;
        flex-direction: column-reverse;

    }

    .collection-image img {
        max-width: 100%;
    }

    .authenticity_section.key_sec .auth-grid {
        display: flex;
        flex-direction: column-reverse;

    }

    .authenticity_section .auth-grid {
        display: flex;
        flex-direction: column-reverse;
    }

    .auth-image {
        width: 100%;
    }

    section.featured-items .collection-card {
        flex-direction: column;
    }

    .authenticity_section .auth-grid {
        flex-direction: column;
    }

    .collection-content {
        padding: 30px;

    }
}

@media (max-width: 767px) {
    .menu-list {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: #001c2b;
        height: 100vh;
        overflow-x: hidden;
        transition: width 0.3s ease;
        z-index: 9999;
        padding-top: 60px;
        max-width: 300px;
    }

    .menu-list.open {
        width: 100%;
        transition: width 0.3s ease;
    }

    .menu-list ul {
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
    }

    .menu-icon span {
        font-size: 26px;
        font-weight: 400;
        color: var(--quinary-color);
    }

    span.menu-close {
        padding: 6px 6px;
        display: flex !important;
        border-radius: 6px;
        width: 35px;
        height: 35px;
        text-align: center;
        box-shadow: 0 0 25px rgb(0 0 0 / .1);
        line-height: 32px;
        background: #00aaff;
        color: #fff;
        position: absolute;
        right: 7px;
        top: 5px;
        font-size: 18px;
        align-items: center;
        justify-content: center;
    }

    span.menu-close svg {
        width: 20px !important;
        height: 20px !important;
    }

    .menu-list ul li a {

        color: #fff !important;

    }

    .dropdown:hover .sub-menu {
        opacity: 0;

    }

    .menu-icon {
        display: block;
    }

    .menu-list ul li a {
        color: var(--quaternary-color);
        font-size: 18px;
    }



    .jersey_page_card {
        width: 100%;
    }

}

@media (max-width: 575px) {
    .footer-top {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-features {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-links {
        padding-left: 0;

    }

    .footer-contact {
        padding-left: 0;

    }



    .site-footer .footer-bottom p {
        text-align: center;
    }

    .footer-features .feature-item {
        justify-content: flex-start;

    }

    .legends-grid {
        grid-template-columns: repeat(1, 1fr);

    }

    .btn-custom {
        width: 100%;
        max-width: 300px;
        text-align: center;
        justify-content: center;
    }

    .shipping-cards-grid {
        grid-template-columns: repeat(1, 1fr);

    }
}