/* global css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --heading-color: #111111;
    --white: #FFFFFF;
    --text-color: #444444;
    --bg-btn-color: #E1EDD9;
    --hover-color: #C1D9B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/* global css end here */

/* header css start */

header {
    padding: 8px 0;
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: slideDown 0.35s ease-out;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.menu-list ul li a {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.menu-list ul li>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #00aaff;
    transition: width 0.3s cubic-bezier(.77, 0, .18, 1);
}

.menu-list ul li a:hover {
    color: #00aaff;
}

.menu-list ul li.active a {
    color: #00aaff !important;
}

.menu-list ul li a:hover::after,
.menu-list ul li.active>a::after {
    width: 100%;
}

.logo img {
    width: 100%;
    max-width: 100px;
    height: 70px;
    object-fit: contain;
}

/* header css end */

/* hero banner css */
.hero_banner {
    padding: 100px 0;
    background: url(../images/hero-bnr.png) no-repeat center center/cover;
    height: 700px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

}

.hero_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(5 5 5 / 64%);
    z-index: -1;
}

.hero_banner .hero_content {
    width: 100%;
    max-width: 800px;
}

.hero_banner .hero_content .reform-title {
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 2.5rem;
    padding: 0.3125rem 1.25rem;
    text-transform: uppercase;
    background-color: #000;
}

.hero_banner .hero_content h1 {
    color: var(--white);
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    max-width: 37.625rem;
}

.hero_banner .hero_content h2 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    text-transform: capitalize;
}

.hero_banner .hero_content p {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 1.25rem;
}

.bnr-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.btn-custom {
    display: inline-flex;
    align-items: center;
    background-color: #00aaff;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 999px;
    padding: 10px 16px 10px 20px;
    gap: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #00aaff;

}

.btn-custom:hover {
    background-color: transparent;
    color: #00aaff;
}

.icon-default {
    transform: translateY(0);
    opacity: 1;
}

.icon {
    color: #00aaff;
    transition: all 0.3s ease;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    color: #00aaff;
    stroke: #00aaff;
    fill: #00aaff;
}

.icon-hover {
    transform: translateY(24px);
    opacity: 0;
}

.icon-container {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.btn-custom:hover .icon-hover {
    transform: translateY(0);
    opacity: 1;
}

.btn-custom:hover .icon-default {
    transform: translateY(-24px);
    opacity: 0;
}

/* hero banner css end */
/*  */
.trust-bar {
    background: #00aaff;
    overflow: hidden;
    padding: 15px 0;
}

.trust-bar span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
}

.trust-wrapper {
    overflow: hidden;
}

.trust-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.trust-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    white-space: nowrap;
}

.trust-item svg {
    width: 22px;
    height: 22px;
    stroke: #000;
    fill: none;
    stroke-width: 2;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.explore-our-collections {
    padding: 60px 0;
}

.collection-card {
    display: flex;

    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.collection-content {
    flex: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection-image img {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    height: 500px;
}

.explore-our-collections-content>span {
    color: #00aaff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.explore-our-collections-content h2,
.featured-items-content h2,
.built-for-collectors-content h2 {
    color: #000;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.collection-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: #111318;
}

.collection-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}

.collection-content ul li {
    font-size: 18px;
    line-height: 1.6;
    color: #616f89;
    padding-left: 26px;
    position: relative;
}

.collection-content ul {
    margin-bottom: 1rem;
}

.collection-content ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00aaff;
}

.authenticity_section {
    background: #001c2b;
    padding: 60px 0;
}

.auth-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
}

.featured-items {
    padding: 60px 0;
}

.auth-image img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.auth-content-box h2 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
}

.auth-content-box p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

.auth-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.auth-list svg {
    width: 22px;
    height: 22px;
    stroke: #00aaff;
    fill: none;
    stroke-width: 2;
    flex-shrink: 0;
}

.section-label {
    color: #00aaff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

.built-for-collectors {
    padding: 60px 0;
}

.cta-hero {
    padding: 60px 0;
}

.cta-content {
    max-width: 760px;
    margin: auto;
    text-align: center;
}

.cta-content h2 {
    font-size: 48px;
    color: #000;
    margin-bottom: 25px;
    font-weight: bold;
}

.cta-content p {
    font-size: 18px;
    color: #000;
    line-height: 1.7;

}

.built-for-collectors-content span {
    color: #00aaff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

/* footer */
.site-footer {
    color: #fff;
    background: #001c2b;
}

.site-footer p {
    margin: 0;
}

.footer-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    border-bottom: 0.0625rem solid #a7a7a747;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
}

.footer-features .feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.9375rem;
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 10.375rem;
}

.footer-links li a,
.footer-contact li {
    color: #ffffffdb;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.015rem;
    margin-bottom: 0.9375rem;
    transition: all 0.2s linear;
}

.footer-links li a:hover {
    color: #00aaff;
    padding-left: 5px;
}

.social-icons li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    transition: all 0.2s linear;
    padding: 0.625rem;
}

.social-icons li a:hover {
    background-color: #00aaff;
    border-color: #00aaff;
}

.social-icons li a svg {
    height: 20px;
    width: 20px;
    fill: #fff;
    transition: all 0.2s linear;
}

.footer-links {
    padding-left: 1.75rem;
    border-left: 0.0625rem solid #a7a7a747;
}

.footer-links li a,
.footer-contact li {
    color: #ffffffdb;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.015rem;
    margin-bottom: 0.9375rem;
    transition: all 0.2s linear;
    display: inline-block;
}

footer ul li {
    line-height: 1.2;
    margin-bottom: 0.1875rem;
}

.footer-contact {
    padding-left: 1.125rem;
    border-left: 0.0625rem solid #a7a7a747;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 0.0625rem solid#a7a7a747;
    margin-top: 48px;
    padding: 20px 0;
}

.footer-top h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #00aaff;
}

.ssl_logo_inner img {
    max-width: 120px;
}

.about_sec {
    padding: 60px 0;
}

.sub_banner {
    height: 30.875rem;
    background-color: rgb(0 0 0 / 65%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about_content h2 {
    font-size: 30px;
    font-weight: 700;
    color: #111318;
    margin-bottom: 20px;
}

.about_content p {
    font-size: 16px;
    line-height: 1.6;
    color: #000;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.banner_content p {
    color: #fff;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.featured_legends {
    padding: 60px 0;
    background-color: #001c2b;
}


.legends-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
}

.legend-img {
    background: #f9fafb;
    padding: 0.75rem;
    overflow: hidden;
    position: relative;
}

.legend-img img {
    width: 100%;
    transition: transform 0.5s ease;
    height: 270px;
    object-fit: cover;
    object-position: top;
}

.legend-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.375rem;
    color: #111;
    font-weight: 600;
}

.signed-text {
    color: #00aaff;
    font-size: 1rem;
    margin-bottom: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
}

.desc {
    font-size: 1rem;
    color: #111;
    line-height: 1.5;
    margin-bottom: 0.9375rem;
}

.legend-items {
    background: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.35s ease;
    border: 0.0625rem solid #e5e7eb;
    position: relative;
}

.legend-content {
    padding: 1.125rem;
}

.shipping-cards {
    padding: 60px 0;
}

.shipping-card-item {
    position: relative;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #ffffff;
    border-left: 3px solid #00aaff;
    padding: 28px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

.shipping-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5625rem;
}

.icon-wrapper {
    margin-bottom: 20px;
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #00aaff;
    border: 1px solid #00aaff;
    transition: all 0.3s ease;
    color: #fff;
}

.shipping-card-item h3 {
    font-size: 18px;
    font-weight: bold;
}

.shipping-card-item p {
    margin: 0;
}

.shipping-card-item p {
    margin-bottom: 5px;
}

.shipping-card-item ul li {
    padding-left: 16px;
    padding-bottom: 6px;
    position: relative;
}

.shipping-card-item ul li::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background: #00aaff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.jersey_cards {
    padding: 60px 0;
    background-color: #09171f;
}

.jersey_page_cards {
    display: flex;
    gap: 1.25rem;
    padding: 3.5rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.jersey_page_card {
    background: #fff;
    width: 30%;
    border-radius: 1.25rem;
    overflow: hidden;
    border: 0.0625rem solid rgba(255, 255, 255, 0.05);
    transition: 0.3s ease;
    padding: 1.25rem;
}

.jersey_page_card-content h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 8px;
}

.returns-policy {
    padding: 60px 0;
}

.policy-content h5 {
    font-size: 20px;
    font-weight: bold;
}

.policy-content ul li {
    padding-left: 16px;
    padding-bottom: 6px;
    position: relative;
}

.policy-content ul li::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background: #00aaff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.authentication_popup_sec {
    padding: 60px 0;
}

.authentication_content h2 {
    font-size: 30px;
    font-weight: bold;
}

.authentication_content p {
    color: #000;
    font-size: 18px;
}

.jersey_page_card-img img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.signup_form_sec {
    padding: 60px 0;
}

.contact_left h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.contact_left .contact_grp {
    background: #001c2b;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #001c2b;
    color: #fff;
}

.contact_left .contact_grp h3 {
    font-size: 20px;
    font-weight: bold;
}

.contact_left .contact_grp p {
    margin-bottom: 5px;
}

.contact_right {
    background: linear-gradient(135deg, #ffffff 0%, #f8fafc 100%);
    padding: 30px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.form-group input,
.form-group textarea {
    padding: 12px 14px;
    outline: none !important;
    box-shadow: none !important;
    resize: none;
}

form#contactForm .form-group {
    margin-bottom: 13px;
}

.contact_right h2 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.contact_right p {
    font-size: 18px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.error {
    border-color: #00aaff;
}

.error-message {
    color: #00aaff;
    font-size: 14px;
    display: none;
    margin-top: 5px;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.footer-logo a img {
    max-width: 100px;
}

/* Cookies CSS Start */
.cookie-alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 320px;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    border:3px solid #00aaff;
    border-radius: 1.875rem;
  }
  
  .cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
  }
  .cookie-alert .card-title {
    font-size: 1.5rem;

    font-weight: 600;
    color: #111;
}

.cookie-alert .card-text {
    font-size: 0.9375rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #4b5563;
    font-weight: 600;
}
.cookie-alert .card-text a{
    color: #00aaff;
    text-decoration: underline;
    text-underline-offset: 5px;
   
}
.btn-toolbar .butn {
    padding: 0.625rem 1.25rem;
    font-size: 0.9375rem;
}
/* Cookies CSS End */